@{
    Layout = null;
}

 <div class="col-lg-3">     
     <img src="~/Images/book.png" />
     <br />
     <button type="button" class="btn btn-primary btn-lg btn-block"><i class="fa fa-download fa-fw"></i>Download</button>
     <br />
      <p class="text-muted">Rate this book:<br/>   
     <rating ng-model="Userrate" max="10" state-on="'fa fa-star fa-fw'" state-off="'fa fa-star-o fa-fw'" readonly="false"></rating>
     <div class="form-group"><input type="button" class="btn btn-default" data-ng-click ="rate()" value="Rate" /></div>                            
      </p>
 </div>  

<div class="col-lg-6">     
    <h3>{{book.title}}
      <br />
      <small>by</small>            
      </h3>   
     <rating ng-model="book.rating" max="10" state-on="'fa fa-star fa-fw'" state-off="'fa fa-star-o fa-fw'" readonly="true"></rating>
     <p>Rated:{{book.people}}</p> 
     <br /><br />
    <p>
        {{book.description}}
    </p>
    <br />
    <hr />
    <dl class="dl-horizontal">
    <dt>Edition:</dt><dd> {{book.edition}}</dd>
    <dt>ISBN:</dt><dd> {{book.isbn}}</dd>
    </dl>
    <br />
    <hr />
 </div>