@{
    Layout = null;
}

 <div class="col-lg-3">     
     <img src="~/Images/book.png" />
     <br />
     <button type="button" class="btn btn-primary btn-lg btn-block"><i class="fa fa-download fa-fw"></i>Download</button>
     <br />
      <p class="text-muted">Rate this book:<br/>   
     <rating ng-model="Userrate" max="5" state-on="'fa fa-star fa-fw'" state-off="'fa fa-star-o fa-fw'" readonly="false"></rating>
     <div class="form-group"><input type="button" class="btn btn-default" data-ng-click ="rate()" value="Rate" />
         <button class="btn btn-sm btn-danger" ng-click="Userrate = 0" ng-disabled="isReadonly">Clear</button>
     </div>                            
     
      </p>
 </div>  

<div class="col-lg-6">     
    <h3>{{book.title}} <small data-ng-repeat="author in authors">by {{author.firstName}} {{author.lastName}}</small> </h3>  
           
         
 
        <br /> 
       
     <rating ng-model="book.rating" max="5" state-on="'fa fa-star fa-fw'" state-off="'fa fa-star-o fa-fw'" readonly="true"></rating>
     <p>Rated:{{book.people}}</p> 
     
    @*<p>
        {{book.description}}
    </p>*@
    <p style="text-align: right">This book is added by:
         
             {{book.addedBy.firstName}}  {{book.addedBy.lastName}}
         
              
        
    </p>
    <br />
    <hr />
    <h3><center>Book Description</center></h3>
  
    ISBN: <b>{{book.isbn}} </b>  | 
    Edition: <b>{{book.edition}}</b>
 
    <br /><br />
    
        <b>About this Book</b>
        <p>{{book.description}}</p>
        
    <hr />
    <h3><center>Costumer reviews</center></h3>  
    
    <div class="comments row">
                        <div class="comment row">                           
                            <div class="col-md-11">
                                <form data-ng-submit="kreirajKomentar()" enctype = "multipart/form-data">
                                    <div class="form-group">
                                        <label class="sr-only" for="comment">Comment</label>
                                        <textarea class="form-control" data-ng-model="komentar.text" rows="3" id="comment" placeholder="Comment..."></textarea>
                                    </div>
                                    <button data-ng-click="ok()" class="btn btn-sm" >Comment</button>
                                </form>
                            </div>
                        </div>
                        <hr class="">
                        <div data-ng-repeat="comment in comments" class="comment row">
                            <div class="col-sm-1">
                                <img data-ng-src="{{imageData[comment.idUser.id]}}" width="50" height="50">
                            </div>
                            <div class="col-md-11">
                                <div class=""> <a href="#" class=""><span class="">{{comment.idUser.firstName}} {{comment.idUser.lastName}}<span class=""></span></span></a> 
                                    <span class="comment-time pull-right">10-12 10:34</span>
                                        <p class="">{{ comment.text }}</p>
                                </div><br />
                            </div>
                        </div>



 </div>
    </div>


