@{
    Layout = null;
}

 <div class="modal-header">
            <p class="modal-title">{{'EDIT' | translate}}</p>
        </div>
        <div class="modal-body">
             <form role="form" name="editprofileform" data-ng-submit="edit()" enctype = "multipart/form-data">
                 <div class="row">
                 <div class="col-sm-6">
                 <div class="form-group input-group">
                     <a href="/users" class="pull-right">
                         <img data-ng-model="profile.image" title="profile image" id = "img" class="img-circle img-responsive" data-ng-src="{{imageSrc}}"/>
                     </a>
                 </div>     
                <div class="form-group input-group">
                  <div file-input="file" on-change="readFile(file)" name="Image"></div>                                    
                 </div>
                 </div>
                  </div>
                 <div class="row">
                 <div class="col-sm-10">     
                 <div class="form-group input-group" data-ng-class="{ 'has-error' : seeFirstNameError }">
                     <input type="text" class="form-control" name="FirstName" data-ng-model="profile.firstName" placeholder="Firstname">                                        
                 </div> 
                  <div class="form-group input-group" data-ng-class="{ 'has-error' : seeLastNameError }">
                     <input type="text" name="LastName" class="form-control" data-ng-model="profile.lastName" placeholder="Lastname">                                        
                 </div>  
                  <div class="form-group input-group" data-ng-class="{ 'has-error' : seeEmailError }">
                     <input type="text" name="Email" class="form-control" data-ng-model="profile.email" placeholder="Email">                                        
                 </div> 
                 <div class="form-group input-group">
                     {{'year' | translate}}:
                     <select class="form-control" data-ng-model="profile.year" >
                         <option value="{{year}}" data-ng-repeat="year in years">{{year}}</option>                        
                     </select>                                                           
                 </div> 
               <div class="form-group input-group">
                   {{'depart' | translate}}:
                     <select class="form-control" data-ng-model="profile.department">
                         <option value="RI">RI</option>
                         <option value="EE">EE</option>
                         <option value="AIE">AIE</option>
                         <option value="TK">TK</option>                         
                     </select>                                                           
                 </div> 
                 </div>
                </div>
                 <div class="row">
                 <div class="col-sm-12">
                 <div class="form-group input-group" data-ng-class="{ 'has-error' : seeAboutMeError }">
                     <label>About me:</label>
                     <textarea  class="form-control" data-ng-model="profile.aboutMe" name="AboutMe" rows="5"></textarea>                                        
                 </div>
                 </div> 
                 </div>                                            
              </form>           
                                  
                                    
          
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="ok(file)">OK</button>
            <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
        </div>
