@{
    Layout = null;
}

<div class="container">
	<div class="row">
  		<div class="col-sm-10"><h1>{{userDetails.username}}</h1></div>
    	<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" data-ng-src="{{imageSrc}}"/></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              
          <ul class="list-group">
            <li class="list-group-item text-muted">{{'profile' | translate}}</li>            
            <li class="list-group-item text-right"><span class="pull-left"><strong >{{'first' | translate}} </strong></span> {{userDetails.firstName}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>{{'last' | translate}} </strong></span> {{userDetails.lastName}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span> {{userDetails.email}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>{{'year' | translate}}</strong></span> {{userDetails.year}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>{{'depart' | translate}}</strong></span> {{userDetails.department}}</li>
          </ul>        
          
          
             
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
          
    <tabset justified="true">
    <tab heading="{{'aboutme' | translate}}">
        <br />
        <br />
    <div class="col-lg-12">
                    <div class="well well-lg">                        
                        <p>{{userDetails.aboutMe}}</p>
                    </div>
                </div>
    </tab>
    <tab heading="{{'uploaded' | translate}}" data-ng-click="getUploads()">
       <br />
         <div data-ng-repeat ="book in books" class="col-sm-3 col-md-3">
    <div class="thumbnail">
        <a id="{{book.details.id}}" data-ng-class="{active : activeViewPath==='/book/details/{{book.id}}'}"  href="#/book/details/{{book.id}}" class="thumbnail">
<img data-src="holder.js/300x200" alt="..." src="~/Images/book.png">
        </a> 
        <h4 style="text-align:center">{{book.title}}</h4>
        <rating ng-model="book.rating" max="5" state-on="'fa fa-star fa-fw'" state-off="'fa fa-star-o fa-fw'" readonly="true"></rating>      
     
    </div>
  </div>
 <div class="col-lg-12">
<pagination  total-items="booksSize" max-size="maxSize" items-per-page="itemsPerPage" data-ng-model="currentPage" class="pagination-sm" boundary-links="true" rotate="true" ></pagination>

 </div>
    </tab>
    <tab heading="{{'download' | translate}}" data-ng-click="getDownloads()">
        <br />
           <div data-ng-repeat ="book in books" class="col-sm-3 col-md-3">
    <div class="thumbnail">
        <a id="{{book.id}}" data-ng-class="{active : activeViewPath==='/book/details/{{book.id}}'}"  href="#/book/details/{{book.id}}" class="thumbnail">
<img data-src="holder.js/300x200" alt="..." src="~/Images/book.png">
        </a> 
        <h4 style="text-align:center">{{book.title}}</h4>
        <rating ng-model="book.rating" max="5" state-on="'fa fa-star fa-fw'" state-off="'fa fa-star-o fa-fw'" readonly="true"></rating>      
     
    </div>
  </div>
<div class="col-lg-12">
<pagination  total-items="booksSize" max-size="maxSize" items-per-page="itemsPerPage" data-ng-model="currentPage" class="pagination-sm" boundary-links="true" rotate="true" ></pagination>

 </div>
    </tab>
 
               </tabset>

          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->