@{
    Layout = null;
}

<div class="col-lg-3">
<div class="thumbnail">
<img data-ng-src="http://localhost:4416/Account/GetProfilePic/?username=akrdzic1"/>
</div> 
     <dl class="dl-horizontal">
    <dt>Username:</dt><dd> {{userDetails.username}}</dd>
    <dt>First name:</dt><dd> {{userDetails.firstName}}</dd>
    <dt>Last name:</dt><dd> {{userDetails.lastName}}</dd>
    <dt>E-mail:</dt><dd> {{userDetails.email}}</dd>
    </dl>    
 </div>